<div class="jumbotron center">
	<h1>What are we trying to accomplish?</h1>
</div>

<div class="row">
  <div class="col-md-4 container center">
  	<h3><span class="glyphicon glyphicon-ok"></span>  Learn Rails.</h3>
  	<p>Bitters Tonx fixie food truck irony slow-carb. Tattooed messenger bag lo-fi shabby chic, actually polaroid Schlitz bespoke selvage DIY biodiesel slow-carb. Ennui blog trust fund pug, photo booth irony craft beer gastropub slow-carb salvia sustainable semiotics Schlitz.</p>
  </div>
  <div class="col-md-4 container center">
  	<h3><span class="glyphicon glyphicon-pencil"></span>  Write Rails.</h3>
  	<p>Bitters Tonx fixie food truck irony slow-carb. Tattooed messenger bag lo-fi shabby chic, actually polaroid Schlitz bespoke selvage DIY biodiesel slow-carb. Ennui blog trust fund pug, photo booth irony craft beer gastropub slow-carb salvia sustainable semiotics Schlitz.</p>
  </div>
  <div class="col-md-4 container center">
  	<h3><span class="glyphicon glyphicon-heart"></span>  Love Rails.</h3>
  	<p>Bitters Tonx fixie food truck irony slow-carb. Tattooed messenger bag lo-fi shabby chic, actually polaroid Schlitz bespoke selvage DIY biodiesel slow-carb. Ennui blog trust fund pug, photo booth irony craft beer gastropub slow-carb salvia sustainable semiotics Schlitz.</p>
  </div>
</div>